body{
    font-family: 'Public sans',sans-serif;
    font-size: 18px;
    overflow-x: hidden;
}
header{
    background-color: white;
    display: flex;
    justify-content:space-around ;
    align-items: center;
}
.headercontainer{
    align-items: center;
}
.headerimage{
    float: right;
}
header ul{
    margin: 0px;
    padding: 0px;
    color: hsl(223, 3%, 51%)
}
header li{
    float: right;
    display: inline;
    padding: 0 20px 0 20px;
}
.request{
    float: right;
    margin-top: -10px;
    padding: 20px;
    width: 10%;
    height: 1%;
    font-size: 12px;
    color: white;
    border-radius: 25px;
    background: linear-gradient(
        to right,
        hsla(136, 64%, 45%, 0.904),
        hsla(192, 70%, 51%, 0.671)
    );
}
.allign{
    margin-bottom: 20px;
}
.firstcontainer{
    background-color: hsl(0, 0%, 98%);
    display: flex;
}
h1{
    color: black;
}
.first{
    margin-left: 80px;
    margin-bottom: 50px;
}
.rightpart{
    color: black;
    font-size: 43px;
}
.text{
    margin: 1.5em 0;
    font-size: 1em;
    padding: 50px;
}
.smalltext{
    font-size: 15px;
    font-weight: 500;
    padding-left: 50px;
    margin-top: -80px;
    color: grey;
}
.new{
    margin-top: 10px;
    text-align: center;
    float: left;
    padding: 10px;
    font-size: 12px;
    color: white;
    border-radius: 25px;
    border: none;
    background: linear-gradient(
        to right,
        hsla(136, 64%, 45%, 0.904),
        hsla(192, 70%, 51%, 0.671)
    );
}
.leftpart{
    background: url('images/bg-intro-desktop.svg') no-repeat;
    background-size: 1300px 700px;
    background-position: 0px -150px;  
}
.mockimage{
    height: 600px;
    padding: 0px;
    margin-right: 90px;
    justify-content: right;
    align-items: flex-end;
    padding-left: 270px;
}

.secondcontainer{
    margin-top: -7em;
    background-color:#EDEFF3 
}
.secondtext{
    color: black;
    padding: 50px 100px;
    font-size: 50px;
}
.secondtext>h3{
    font-size: 40px;
}
.secondtext>p{
    color: hsl(223, 3%, 51%);
    text-align: start;
    font-size: 15px;
}

.thirdcontainer{
    padding: 5vh 7vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    color: rgba(165, 163, 163, 0.897);
}
.box{
    margin-top: 1rem;
    width: 15rem;
    border-radius: 6px;
    font-size: .8rem;
}

h1 {
    font-size: 1.5rem;
    color: hsla(233, 26%, 24%, 0.815);
}

.imageinfocon{
    padding: 50px 100px;
    background: hsl(0, 0%, 98%);
}

.panel-article {
    display: flex;
    justify-content: space-around;
    color: rgba(165, 163, 163, 0.897);
    margin-left: -32px;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.hamburger div{
    width: 35px;
    height: 3px;
    background-color: grey;
    margin: 6px 0;
    transition: 0.4s;
}
.open .bar1{
    -webkit-transform: rotate(-45deg) translate(-6px,6px);
    transform: rotate(-45deg) translate(-6px,6px);
}
.open .bar2{
    opacity: 0;  
}
.open .bar3{
    -webkit-transform: rotate(45deg) translate(-6px,-8px);
    transform: rotate(45deg) translate(-6px,-8px);
}
.open .mobilemenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    background-color: #edeff3;
    padding: 50px;
    margin-left: 40px;
}
.mobilemenu{
    position: absolute;
    left: 0;
    top: 50px;
    display: none;
    width: 100vw;
} 
.mobilemenu li{
    margin-bottom: 10px;
}
.blog {
    margin-top: 1rem;
    background-color: white;
    width: 15rem;
    border-radius: 6px;
    font-size: .8rem;
}

h3 {
    color: hsla(233, 26%, 24%, 0.815);
    font-size: 1rem;
}
.blog>div {
     margin: 1rem .8rem;
}

.blog>img {
    width: 100%;
    height: 12rem;
    border-radius: 6px 6px 0 0;
}
footer {
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-around;
    color: white;
}

.footersection {
    display: flex;
    justify-content: space-around;
    column-gap: 5em;
}

.footeroverall {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footerend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: hsl(233, 8%, 62%);
    font-size: 12px;
}

.icon{
    display: flex;
    justify-content: space-between;
}

.footerdiv {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 12px;
    color: white;
    align-content: center;
}
.footerdiv a {
    text-decoration: none;
    color: white;
}
.last{
    color: hsl(0, 0%, 98%);
    align-content: flex-end;
}
header ul li:hover {
    font-weight: bold;
    border-style: solid;
    border-bottom-color: rgb(72, 137, 235);
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    }
.footerdiv a:hover{
    color: green;
}
.mobileview{
    display: none;
}
@media(max-width: 1300px){
    body {
        padding: 0;
        margin: 0;
    }
    
    .hamburger{
        display: block;
        margin-right: 2em;
    }

    header nav,
	header button {
		display: none;
	}
    .headercontainer{
        background-color: white;
        height: 10px;
        margin-bottom: 20px;
        align-items: center;
        padding-top: 1em;
    }
    .firstcontainer {
		display: flex;
		flex-direction: column;
		background-color: hsl(0, 0%, 98%);
        padding: 0;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 100%;
	}
    .smalltext{
        padding: 0;
    }
    .rightpart .new{
        margin-left: 150px;
    }
    .leftpart{
        display: none;
    }
    .secondtext{
        text-align: center;
    }
    .mobileview{
        background-image: url('images/bg-intro-mobile.svg');
        background-repeat: no-repeat;
        display: block;
        background-color: white;
        width: 100%;
        background-size: cover;
        background-position: 0 -3.5em;
    }
    .mobileview img{
        width: 100%;
        object-position: 0 -8.5em;
    }
    .rightpart {
        margin-top: -4em;
    }
    .text{
        font-size: 35px;
        font-family: sans-serif;
        padding-top: 0;
    }
    .smalltext{
        margin-top: -50px;
        margin-right: 25px;
    }
    .rightpart button{
        align-items: center;
        margin-left: 200px;
    }
    .secondcontainer{
        order: 3;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0;
    }

    .thirdcontainer{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .secondtext {
        padding: 1em 0;
    }

    .secondtextin{
        width: 96%;
        margin: auto;
        text-align: center;  
    }

    .box {
        width: 100%;
    }

    .imageinfocon{
        padding: 5em 1.5em;
        text-align: center;
    }

    .panel-article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;
        align-items: center;
        width: 100%;
    }
    .panel-article .blog {
        width: 100%;
        text-align: left;
        padding-bottom: 2em;
    }

    .panel-article .blog img{
        height: 20rem;
        text-align: center;
    }

    .panel-article .blog div{
        padding: 0 1em;
    }
   
	.image-size {
		display: none;
	}
    
    footer {
        background-color: hsl(233, 26%, 24%);
        display: flex;
        color: white;
        flex-direction: column;
        align-items: center;
        padding-top: 1em;
    }
    .footersection {
        flex-direction: column;
        row-gap: 0;
    }

    .footeroverall {
        margin-top: 1em;
    }
    .footerdiv {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }
    .footeraboubt{
        margin-top: -2em;
    }
    .footerend {
       justify-content: center;
       align-items: center;
    }
    .icon{
        justify-content: space-around;
        padding: 25px;
        column-gap: 10px;
    }
    .last{
        align-items: center;
        color: hsl(233, 8%, 62%);
    }
}